<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    <form action="/users/register" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" 
               id="username" 
               name="username" 
               value="<%= locals.oldInput ? oldInput.username : '' %>"
               required
               minlength="3"
               maxlength="30"
               pattern="[a-zA-Z0-9_]+" >
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" 
               id="password" 
               name="password"
               required
               minlength="6" >
      </div>
        <% if (locals.message) { %>
          <%= message %>
        <div class="<%= locals.success ? 'success-message' : 'error-message' %>">
          <%= message %>
        </div>
        <% } %>
        <button type="submit">Register</button>
    </form>
  </body>

</html> -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/users/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" 
               id="username" 
               name="username" 
               value="<%= locals.oldInput ? oldInput.username : '' %>" >
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </div>
      <% if (locals.message) { %>
      <div class="error-message">
        <%= message %>
      </div>
      <% } %>
      <button type="submit">Login</button>
    </form>
  </body>

</html> -->
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
  <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
  <div class="wrapper">
    <form action="/users/register" method="POST">
      <h2>Register</h2>
        <div class="input-field">
        
          <input type="text" 
               id="username" 
               name="username" 
               value="<%= locals.oldInput ? oldInput.username : '' %>"
               required
               placeholder="Username"
               minlength="3"
               maxlength="30"
               pattern="[a-zA-Z0-9_]+" >
      </div>
      <div class="input-field">
      
        <input type="password" 
        id="password" 
        name="password"
        required
        placeholder="Password"
        minlength="6" >
      </div>
      <% if (locals.message) { %>
        <%= message %>
      <div class="<%= locals.success ? 'success-message' : 'error-message' %>">
        <%= message %>
      </div>
      <% } %>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Register</button>
      <div class="register">
        <p>I have an account? <a href="/users/login">Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>